.container
  %h1.text-lg-center Tenk Learn
  = link_to 'Policy Page', static_pages_privacy_policy_path, class: 'btn btn-lg btn-warning'
  = link_to static_pages_privacy_policy_path, class: 'btn btn-lg btn-warning' do
    %i.fas.fa-file-word
    Privacy Policy
